

<p>Hello <%= @user.full_name %>,</p>

<p>Someone people comment your post:</p>

<p>The Post is: <%= @post.title %></p>
<p>The Comment is: <%= @comment.body %></p>

<p>Thank you,</p>

<p>Jennys Blog</p>
