<h1>Category: <%= @category.title %></h1>
<p>There are <%= @posts.length %> posts</p>
<% @posts.each do |post| %>
  <div>
    <p class="category_id"><%= link_to post.title, post_path(post)  %></p>
  </div>
<% end %>
