<!-- Begin footer  -->
<footer>
<div class="container-fluid footer">
  <div class="col-md-4">
    <h4>Jenny Bolg</h4>
    <p>Phone: (604) 666-66666</p>
    <h5>&copy;by Jenny</h5>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  <h3>Follow Me</h3>
    <span>
      <table>
        <th>
      <td><%= link_to image_tag("facebook.png", size: "40x40"), "https://www.facebook.com" %></td>
      <td>  </td>
      <td><%= link_to image_tag("youtube.png", size: "40x40"), "https://www.facebook.com" %></td>
      <td>  </td>
      <td><%= link_to image_tag("twitter.png", size: "40x40"), "https://twitter.com" %></td>
        </th>
    </table>
    </span>
  </div>
</div>
</footer>
